<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %X{username} [%t] %p:%C{1}.%M(%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <!--<param name="file" value="c:/tmp/logs/prior-auth-notification.log"/>-->
        <param name="file" value="/home/yahibaba/data/madmin/bo.log"/>
        <param name="MaxFileSize" value="30MB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MMM dd yyyy HH:mm:ss} %X{username} %-5p %10c [%M] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="fileAppender"/>
    </root>

</log4j:configuration>
